/* src/components/Projects.css */
#projects {
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .project {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
  
  .project img {
    width: 400px; /* Adjust size as needed */
    height: auto;
    margin-right: 20px;
    padding: 20px; /* Adds padding around the image */
    background-color: #f0f0f0; /* Adds a light grey background color */
    border-radius: 10px; /* Optional: adds rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow for depth */
  }
  
  .project-description {
    text-align: left;
    max-width: 600px;
  }
  
  .project-description h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  .project-description h3 {
    font-size: 1.4rem;
    margin-top: 10px;
  }
  
  .project-description p {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  ul li {
    margin-bottom: 5px;
  }
  